%table.table.table-striped
  %thead
    %tr
      %th= Milestone.human_attribute_name :date
      %th= Milestone.human_attribute_name :completed
      %th
  %tbody
    - @challenge.milestones.each do |milestone|
      %tr
        %td= I18n.l(milestone.date, format: :short)
        %td= milestone.completed
