= calendar milestones, start_day: :monday do |milestone|
  .text-center
    .badge{class: "badge-#{milestone.completed_badge}" }
      - if milestone.completed?
        <i class="icon-thumbs-up"></i>
      - elsif milestone.old?
        <i class="icon-circle-blank"></i>
      - else
        <i class="icon-minus"></i>
