%p
  Hola #{@resource.email}
%p Alguien ha solicitado un enlace para cambiar tu contrase&ntilde;a y puedes hacerlo pulsando en el siguiente enlace:
%p= link_to 'Cambiar mi contraseña', edit_user_password_url(I18n.locale, @resource, :reset_password_token => @resource.reset_password_token)
%p Si no has solicitado el cambio, por favor ignora este mensaje.
%p Tu contraseña solo cambiará si accedes a través del enlace anterior y configuras una nueva.
